
@model BinAttachmentModel;
@{
    ViewData["Title"] = "Bin Attachment";


}
<style>
    .ui-dialog-titlebar-close:after {
        content: 'X' !important;
        position: absolute;
        top: -2px;
        right: 3px;
    }
</style>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<header id="header">
    <div class="form-group">
        <a id="customButton" role="button" style="float:right" class="btn btn-primary" asp-action="Logout" asp-controller="ProductsManagement">Logout</a>
    </div>
</header>
<body id="workingPage">

    <div class="form-group">
        <a style="margin-bottom:10px;top: 50px;" class="btn btn-success" onclick="AddCheckBin()">Bin adding</a>
    </div>
    <div class="form-group">
        <a style="margin-bottom:10px;top: 50px;" class="btn btn-secondary" onclick="BinAdding('@Url.Action("GenerateBarCode", "Home")')">Generate bar code</a>
    </div>
    <div class="form-group">
        <a style="margin-bottom:10px;top: 50px;" class="btn btn-secondary" onclick="AttachDetach('@Url.Action("AttachDetach", "Home")')">Attach/Detach</a>
    </div>
    <div class="modal-content" style="width:430px;height:180px;position:center" hidden id="addBin">
        <form asp-action="BinAdding" asp-controller="Home" method="post" id="targetForm">
            <div class="modal-body">
                <div class="form-group">

                    <input class="form-control" type="text" required minlength="12" maxlength="12" asp-for="BinNumber" id="binNumber" />
                    <span id="warning" style="color:red; font-size:small; font-style:normal"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col text-center">
                    <input type="submit" value="Submit"  class="btn btn-primary" disabled id="binSend" />
                    <input type="reset" value="Reset" class="btn btn-secondary" />
                </div>
            </div>
        </form>
    </div>

    <table id="binsManagement" class="table table-striped table-bordered display" style="width:100%">
        <thead>
            <tr>
                <th style="text-align: center"></th>
                <th id="valueBinNumber">Bin number</th>
                <th id="valueBinStatus">Status</th>
                <th id="processName">Process</th>
                <th id="machine">Machine/Area</th>
                <th></th>
            </tr>
        </thead>
    </table>
    <form asp-action="GenerateBarCode" asp-controller="Home" method="post" id="formGenerator" hidden>
        <div class="modal-body">
            <div class="form-group">
                <input asp-for="Id" id="binsId" />
                <input asp-for="BinStatus" id="binsStatus" />
                <input class="form-control" type="text" id="binsNumber" asp-for="BinNumber" />
            </div>
        </div>
    </form>
</body>
@section Scripts{
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>

    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.jqueryui.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script>
        var regExp = /[0-9][0-9]-[0-9][0-9]-[0-9][0-9]-[0-9][0-9][0-9]/;
        $(document).ready(function () {
            daTable = $('#binsManagement').DataTable({
                    dom: 'Bfrtip',
                    ajax: {
                        url: '/Home/GetBins',
                        type: 'GET',
                        dataSrc: ''
                    },
                    rowId: 'Id',
                    order: [[1, 'asc']],
                    columnDefs: [
                        { className: 'dt-body-center', targets: [0, 1, 2, 3, 4, 5] },
                        {
                            targets: [1,2,3, 4, 5],
                            className: 'dt-head-center'
                        },
                        {
                            targets: 0,
                            width: '7%'
                        },
                        {
                            targets: [2,3],
                            width: '13%'
                        },
                        {
                            targets: [1, 4],
                            width:'19%'
                        },

                        {
                            targets: [5],
                            width: '25%'
                        }

                    ],
                    columns: [
                        { data: null, "sortable": false },
                        { data: "binNumber"},
                        { data: "binStatus" },
                        { data: "processName" },
                        {data: "machineName"},

                        {
                            data: "id", "render": function (data) {
                                return "<div style='width:100%; position: center'><div class='btn-group' role='group' id='groupButton'><a id='code' class='btn btn-warning btn-small' onclick='GenerateCode("+data+")' style='height:5%'>Bar code</a ><a id='info' class='btn btn-success btn-small'  style = 'height: 5 %; margin-left: 5px; margin-right: 5px;' onclick=BinAdding('@Url.Action("Details", "Home")') >Details</a ><a class='btn btn-danger btn-small' style='height: 5 %' onclick=Delete(" + data + ") id='Delete' >Remove bin</a></div ></div >"
                            },
                            orderable: false,
                            searchable: false,
                            width: "150px"
                        }
                    ]
                });
            $('#binsManagement').DataTable().on('order.dt search.dt', function () {
                $('#binsManagement').DataTable().column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();

            document.getElementById("binNumber").addEventListener('keyup', function (e) {
                if (this.value.match(regExp) && this.value.length == 12) {
                    GetBin();
                }
                else {
                    document.getElementById('binSend').setAttribute('disabled', 'disabled');
                    $('#warning').text("The right format of bin's number is 00-00-00-000 ");
                }
            })
            ShowPanel($('#attachWindow'));


        });
        function Check(value) {
            var message = $('#warningMess');
            var button = document.getElementById('submitCode');
            if (value.length == 12) {
                $.ajax({
                    type: 'Get',
                    url: '@Url.Action("BinsChecking", "Home")',
                    dataType: 'json',
                    data: { 'number': value },
                    success: function (data) {
                        if (data == true && value.length == 12) {
                            message.text('');
                            button.removeAttribute('disabled');
                        }
                        else {
                            message.text('Please, make sure this bin is in the database!');
                            button.setAttribute('disabled', 'disabled');
                        }
                    }
                })
            }
            else {
                button.setAttribute('disabled', 'disabled');
                message.text('');
            }
        }
        function Delete(id) {
                Swal.fire({
                title: 'Remove this bin from the list?',
                text: "You won't be able to revert this!",
                icon: 'question',
                showCancelButton: true,
                showConfirmButton: true,
                cancelButtonText: 'Back',
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, remove it!'
                        }).then((result) => {
            if (result.isConfirmed) {
                    $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Delete", "Home")/' + id,
                    success: function(data) {
                        if (data.success) {
                            $('#binsManagement').DataTable().ajax.reload(null, false);
                            //setTimeout(function () { location.reload()}, 2000);
                        }
                    }
                })
                    Swal.fire(
                        'Removed!',
                        'Bin has been removed.',
                        'success'
                    )
                }
                })
        }
        function GenerateCode(id) {
            var binId = document.getElementById('binsId');
            var status = document.getElementById('binsStatus');
            var number = document.getElementById('binsNumber');
                $.ajax({
                    type: 'Get',
                    dataType: 'json',
                    url: '/Home/GenerateCodeById/'+ id,
                    success: function(data) {

                        var result = JSON.stringify(data);

                        binId.value = 1;
                        status.value = "Empty";
                        number.value = data;
                        $("#formGenerator").submit();
                    }
                })

        }
        function AttachDetach(url) {
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);
                    Popup = formDiv.dialog({
                        autoOpen: true,
                        modal: true,
                        draggable: true,
                        title: "Attaching/Detaching",
                        position: { my: "center", at: "top", of: window },
                        resizable: false,
                        height: 'auto',
                        width: 450,
                        close: function () {
                           //$('.ui-dialog-content').dialog('destroy').remove();
                            setTimeout(function () {
                                window.location.reload();
                            }, 100);
                        }
                    });
                });
        }
        function BinAdding(url) {
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);
                    Popup = formDiv.dialog({
                        autoOpen: true,
                        modal: true,
                        draggable: true,
                        title: "Enter bin number",
                        position: { my: "center", at: "top", of: window },
                        resizable: false,
                        height: 'auto',
                        width: 400,
                        close: function () {
                            $(this).closest('.ui-dialog-content').dialog('destroy').remove();
                            setTimeout(function () {
                                window.location.reload();
                            }, 100);
                        }
                    });
                });
        }
        function AddCheckBin() {
            $('#addBin').removeAttr('hidden').dialog({
                autoOpen: true,
                modal: true,
                draggable: false,
                title: "Enter bin number",
                position: { my: "center", at: "top", of: window },
                resizable: false,
                height: 'auto',
                width: 500,
                close: function () {
                    $(this).closest('.ui-dialog-content').dialog('destroy').remove();
                    setTimeout(function () {
                        window.location.reload();
                    }, 100);
                }
            });
        }
        function GetBin() {
            var bNumber = document.getElementById('binNumber').value;
            var button = document.getElementById('binSend');
            bNumber.slice(0, 12).replace(/\s/g, '');
                 $.ajax({
                type: 'Get',
                url: '@Url.Action("BinsChecking", "Home")',
                dataType: 'json',
                     data: { 'number': bNumber },
                     success: function (data) {

                         if (data == false && bNumber.length == 12) {
                             $('#warning').text("");
                             button.removeAttribute('disabled');

                         }

                         else {
                             if (data == true && bNumber.length == 12) {
                               $('#warning').text("This number has already been taken!");
                               button.setAttribute('disabled', 'disabled');
                             }

                             button.setAttribute('disabled', 'disabled');
                         }
                }
            })

        }
        function ShowPanel(name) {
            var panel = name;
            $('a[data-toggle="ajax-model"]').click(function (event) {
                var url = $(this).data('url');
                var decodeUrl = decodeURIComponent(url);
                $.get(decodeUrl).done(function (data) {
                    panel.html(data);
                    panel.find('.modal').modal('show');
                })
                panel.on('hidden.bs.modal', function () {
                    location.reload();
                })

            })
        }

    </script>

}
